 /*********************************menu**********************************/
 #main-menu{
	padding: 16px 0 16px 29px;
	width:100%;
}

.nav-bar { font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
}

.menu {
	padding:20px;
	width:100%;
	list-style-type: none;
}

.menu > li {
	float:left; 
	position:relative;
	padding:0px 39px 0px 35px;
}
.menu > li.last {
	padding-right:0;
}

.menu > li a {
	font-size:14px;
	line-height:18px;
	color:#d8d8d8;
}

.menu > li > a.active { color: #ff0000}

/* Login and Registration Buttons */
#page1 .bg .container header .col-lg-6 #main-menu .nav.navbar-nav.navbar-inverse.navbar-right {
	font-size: 14px;
	margin-top: -45px;
}
#page1 .bg .container header .col-lg-6 #main-menu .nav.navbar-nav.navbar-inverse.navbar-right .dropdown .dropdown-toggle:hover {
	color: #d8d8d8; 
	background-color: #F00000;
}

#page1 .bg .container header .col-lg-6 #main-menu .nav.navbar-nav.navbar-inverse.navbar-right .dropdown .dropdown-toggle:visited {
	color: #d8d8d8;
	background-color: #000000;
}
#page1 .bg .container header .col-lg-6 #main-menu .nav.navbar-nav.navbar-inverse.navbar-right .dropdown .dropdown-menu.dropdown-lr.animated.flipInX {
	color: #d8d8d8;
	background-color: #000000;
	padding-: 10px;
}
#page1 .bg .container header .col-lg-6 #main-menu .nav.navbar-nav.navbar-inverse.navbar-right .dropdown .dropdown-menu.dropdown-lr.animated.slideInRight {
	background-color: #000000;
	padding: 10px;
}

.menu > li > a:hover, .menu > li > a.active, .me nu > li.sfHover > a {color:#787878;}

.menu li:hover {visibility:	inherit; } 

/* .menu li strong {
	position:absolute;
	background:url(../images/arrow.png) no-repeat 0 0;
	display:block;
	left:77px;
	top:8px;
	height:4px;
	width:7px;
} */

.menu li strong {
    background: url("../images/arrow.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 4px;
    left: 77px;
    position: absolute;
    top: 8px;
    width: 7px;
}

/* General sizing */
ul.dropdown-lr {
  width: 300px;
  background-color: #000;	
}

/******************************** submenu **************************************/
/* Remember Top Right Bottom Left */
.menu ul {
	position:		absolute;
	padding:		5px 20px 5px 20px;
	top:			-999em;
	width:			116px;
	background: 	url(../images/ul-bg.png) repeat 0 0;
	border-radius:  15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	list-style-type: none;
	
}

.menu li li {width:	100%; padding:0px 0 12px; background:none;}
.menu li li.last {padding-bottom:0;}
.menu li li a {
	display:inline-block;
	padding:		0 0 0 0px;
	text-align:		left;
}

.menu li:hover ul, .menu li.sfHover ul {
	left:			20px;
	top:			24px;
	z-index:		999;
}

ul.menu li:hover li ul, ul.menu li.sfHover li ul {
	top:			-999em;
}

.menu li li a:hover, .menu li li.sfHover > a {color:#787878;}

/******************************** submenu 2 **************************************/
ul.menu li li:hover ul, ul.menu li li.sfHover ul {
	left:			112px;
	top:			31px;
	z-index:		9999;
}

ul.menu li li:hover li ul, ul.menu li li.sfHover li ul {
	top:			-999em;
}

@media only screen and (min-width: 768px) and (max-width: 995px) {
	#main-menu{display: inline-block; /* width:556px;padding-left:0; */}
	#main-nav { line-height: 0; text-align: center;}
	.menu {	margin-top: 70px; }
	.menu > li {padding-right:25px;}
#page1 .bg .container header .col-lg-6 #main-menu .nav.navbar-nav.navbar-inverse.navbar-right {
	margin-top: -25px; }
}

@media only screen and (max-width: 767px) {
	#main-menu{ width:300px;padding-left:0;}
	.menu {	margin-top: 70px; } /* Add Margin from the Top to increase separate main menu */
	.menu li, .menu li li {float:none;padding:0 0 3px 0;}
	.menu ul {position:relative !important;top:0 !important;width:300px;left:0 !important;}
	.menu li a, .menu li li a {display:block;background:url(../images/hover-1.png) repeat-x 0 -50px;color:#d8d8d8;height:33px;padding: 14px 0 0 24px;}
	.menu > li > a:hover, .menu > li > a.active, .menu > li.sfHover > a,
	.menu li li a:hover, .menu li li.sfHover > a {color:#FFF;background-position: 0 0;}
	.menu li strong {top:23px;left:102px;}
	.menu ul {background:none;padding: 4px 0 0px 10px;width:290px;}
	.menu ul ul {width:280px;}
	.indent {display:none;}
#page1 .bg .container header .col-lg-6 #main-menu .nav.navbar-nav.navbar-inverse.navbar-right {
	margin-top: -25px; }
}

	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
	
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#main-menu{ width:420px; margin-top:75px;}	
	.menu {	margin-top: 60px; } /* Add Margin from the Top to increase separate main menu */ 
	.menu ul {width:410px;}
	.menu ul ul {width:400px;}
#page1 .bg .container header .col-lg-6 #main-menu .nav.navbar-nav.navbar-inverse.navbar-right {
	margin-top: 0px; }
}