# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
/user_guide/
/CodeIgniter-3.1.3/
/Update-to-Bootstrap-V4.1.0/
/bootstrap-3.3.7-dist/
/bootstrap-datepicker-master/
/bootstrap-4.1.0-dist/
/css - old Bootstrap V3/
/js - old Bootstrap V3/
.gitignore
.buildpath
deploy.php
lotto_zip_csv_uploads/12402570.csv
lotto_zip_csv_uploads/15815884.csv
lotto_zip_csv_uploads/17841190.csv
lotto_zip_csv_uploads/32832740.csv
lotto_zip_csv_uploads/45325129.csv
lotto_zip_csv_uploads/52215124.csv
lotto_zip_csv_uploads/52834643.csv
lotto_zip_csv_uploads/57021900.csv
lotto_zip_csv_uploads/64423186.csv
lotto_zip_csv_uploads/70035983.csv
lotto_zip_csv_uploads/71214807.csv
lotto_zip_csv_uploads/71553306.csv
lotto_zip_csv_uploads/75607834.csv
lotto_zip_csv_uploads/86562510.csv
lotto_zip_csv_uploads/88019038.csv
lotto_zip_csv_uploads/107117230.csv
lotto_zip_csv_uploads/114834879.csv
lotto_zip_csv_uploads/127631886.csv
lotto_zip_csv_uploads/151969441.csv
lotto_zip_csv_uploads/156125197.csv
lotto_zip_csv_uploads/161688092.csv
lotto_zip_csv_uploads/190782079.csv
lotto_zip_csv_uploads/194064114.csv
lotto_zip_csv_uploads/194231118.csv
lotto_zip_csv_uploads/212249513.csv
lotto_zip_csv_uploads/224630772.csv
lotto_zip_csv_uploads/225252366.csv
lotto_zip_csv_uploads/244165632.csv
lotto_zip_csv_uploads/268776238.csv
lotto_zip_csv_uploads/276851986.csv
lotto_zip_csv_uploads/316476234.csv
lotto_zip_csv_uploads/318128855.csv
lotto_zip_csv_uploads/322130843.csv
lotto_zip_csv_uploads/324792303.csv
lotto_zip_csv_uploads/340064080.csv
lotto_zip_csv_uploads/345008852.csv
lotto_zip_csv_uploads/345772049.csv
lotto_zip_csv_uploads/350303828.csv
lotto_zip_csv_uploads/367062929.csv
lotto_zip_csv_uploads/369132162.csv
lotto_zip_csv_uploads/369880189.csv
lotto_zip_csv_uploads/374523581.csv
lotto_zip_csv_uploads/384246276.csv
lotto_zip_csv_uploads/390464443.csv
lotto_zip_csv_uploads/391468452.csv
lotto_zip_csv_uploads/394902155.csv
lotto_zip_csv_uploads/398646142.csv
lotto_zip_csv_uploads/399267088.csv
lotto_zip_csv_uploads/400580857.csv
lotto_zip_csv_uploads/405933921.csv
lotto_zip_csv_uploads/416656252.csv
lotto_zip_csv_uploads/420639638.csv
lotto_zip_csv_uploads/427401465.csv
lotto_zip_csv_uploads/433041227.csv
lotto_zip_csv_uploads/433571825.csv
lotto_zip_csv_uploads/441571910.csv
lotto_zip_csv_uploads/444280391.csv
lotto_zip_csv_uploads/465857838.csv
lotto_zip_csv_uploads/467645827.csv
lotto_zip_csv_uploads/468797746.csv
lotto_zip_csv_uploads/472363518.csv
lotto_zip_csv_uploads/486823722.csv
lotto_zip_csv_uploads/490962456.csv
lotto_zip_csv_uploads/491205264.csv
lotto_zip_csv_uploads/501067527.csv
lotto_zip_csv_uploads/505948390.csv
lotto_zip_csv_uploads/505973779.csv
lotto_zip_csv_uploads/510070990.csv
lotto_zip_csv_uploads/517298067.csv
lotto_zip_csv_uploads/549053226.csv
lotto_zip_csv_uploads/551449871.csv
lotto_zip_csv_uploads/563163981.csv
lotto_zip_csv_uploads/563473330.csv
lotto_zip_csv_uploads/572985738.csv
lotto_zip_csv_uploads/574391455.csv
lotto_zip_csv_uploads/582357668.csv
lotto_zip_csv_uploads/583711880.csv
lotto_zip_csv_uploads/584179206.csv
lotto_zip_csv_uploads/590677868.csv
lotto_zip_csv_uploads/590732125.csv
lotto_zip_csv_uploads/596619312.csv
lotto_zip_csv_uploads/607649417.csv
lotto_zip_csv_uploads/614083785.csv
lotto_zip_csv_uploads/621137787.csv
lotto_zip_csv_uploads/627328426.csv
lotto_zip_csv_uploads/628942572.csv
lotto_zip_csv_uploads/634772541.csv
lotto_zip_csv_uploads/654779591.csv
lotto_zip_csv_uploads/658394137.csv
lotto_zip_csv_uploads/661240727.csv
lotto_zip_csv_uploads/662617505.csv
lotto_zip_csv_uploads/670360269.csv
lotto_zip_csv_uploads/680188840.csv
lotto_zip_csv_uploads/683823245.csv
lotto_zip_csv_uploads/684112794.csv
lotto_zip_csv_uploads/689511200.csv
lotto_zip_csv_uploads/690625606.csv
lotto_zip_csv_uploads/696402278.csv
lotto_zip_csv_uploads/698199450.csv
lotto_zip_csv_uploads/698741403.csv
lotto_zip_csv_uploads/723015434.csv
lotto_zip_csv_uploads/738275006.csv
lotto_zip_csv_uploads/746914579.csv
lotto_zip_csv_uploads/761703022.csv
lotto_zip_csv_uploads/762478338.csv
lotto_zip_csv_uploads/764259386.csv
lotto_zip_csv_uploads/767610167.csv
lotto_zip_csv_uploads/767997090.csv
lotto_zip_csv_uploads/771326317.csv
lotto_zip_csv_uploads/786462128.csv
lotto_zip_csv_uploads/790523046.csv
lotto_zip_csv_uploads/793759096.csv
lotto_zip_csv_uploads/808333987.csv
lotto_zip_csv_uploads/815163526.csv
lotto_zip_csv_uploads/824892635.csv
lotto_zip_csv_uploads/828953614.csv
lotto_zip_csv_uploads/829956445.csv
lotto_zip_csv_uploads/830969901.csv
lotto_zip_csv_uploads/834067009.csv
lotto_zip_csv_uploads/836980243.csv
lotto_zip_csv_uploads/855119193.csv
lotto_zip_csv_uploads/865079935.csv
lotto_zip_csv_uploads/865325110.csv
lotto_zip_csv_uploads/870209309.csv
lotto_zip_csv_uploads/873430836.csv
lotto_zip_csv_uploads/878741126.csv
lotto_zip_csv_uploads/888062071.csv
lotto_zip_csv_uploads/899382859.csv
lotto_zip_csv_uploads/903777278.csv
lotto_zip_csv_uploads/911506433.csv
lotto_zip_csv_uploads/913631237.csv
lotto_zip_csv_uploads/917643670.csv
lotto_zip_csv_uploads/924734651.csv
lotto_zip_csv_uploads/933201860.csv
lotto_zip_csv_uploads/935091271.csv
lotto_zip_csv_uploads/938184274.csv
lotto_zip_csv_uploads/959136639.csv
lotto_zip_csv_uploads/961388359.csv
lotto_zip_csv_uploads/976070146.csv
lotto_zip_csv_uploads/976119252.csv
lotto_zip_csv_uploads/977895484.csv
lotto_zip_csv_uploads/983358137.csv
lotto_zip_csv_uploads/990928239.csv
lotto_zip_csv_uploads/1020123825.csv
lotto_zip_csv_uploads/1030143765.csv
lotto_zip_csv_uploads/1031406630.csv
lotto_zip_csv_uploads/1038698290.csv
lotto_zip_csv_uploads/1052248592.csv
lotto_zip_csv_uploads/1054804039.csv
lotto_zip_csv_uploads/1055350352.csv
lotto_zip_csv_uploads/1056283228.csv
lotto_zip_csv_uploads/1078044911.csv
lotto_zip_csv_uploads/1080154693.csv
lotto_zip_csv_uploads/1125811519.csv
lotto_zip_csv_uploads/1136706926.csv
lotto_zip_csv_uploads/1138060123.csv
lotto_zip_csv_uploads/1147995015.csv
lotto_zip_csv_uploads/1148013837.csv
lotto_zip_csv_uploads/1150068990.csv
lotto_zip_csv_uploads/1158836097.csv
lotto_zip_csv_uploads/1160371900.csv
lotto_zip_csv_uploads/1175805078.csv
lotto_zip_csv_uploads/1197177946.csv
lotto_zip_csv_uploads/1198393049.csv
lotto_zip_csv_uploads/1243581299.csv
lotto_zip_csv_uploads/1245215328.csv
lotto_zip_csv_uploads/1252468054.csv
lotto_zip_csv_uploads/1268800256.csv
lotto_zip_csv_uploads/1270783968.csv
lotto_zip_csv_uploads/1273394366.csv
lotto_zip_csv_uploads/1279097439.csv
lotto_zip_csv_uploads/1280484400.csv
lotto_zip_csv_uploads/1282284929.csv
lotto_zip_csv_uploads/1283438742.csv
lotto_zip_csv_uploads/1285954152.csv
lotto_zip_csv_uploads/1298612071.csv
lotto_zip_csv_uploads/1311754191.csv
lotto_zip_csv_uploads/1328089307.csv
lotto_zip_csv_uploads/1330268281.csv
lotto_zip_csv_uploads/1332838494.csv
lotto_zip_csv_uploads/1336690903.csv
lotto_zip_csv_uploads/1344164017.csv
lotto_zip_csv_uploads/1345661262.csv
lotto_zip_csv_uploads/1345911630.csv
lotto_zip_csv_uploads/1363250111.csv
lotto_zip_csv_uploads/1371159241.csv
lotto_zip_csv_uploads/1395830134.csv
lotto_zip_csv_uploads/1396590067.csv
lotto_zip_csv_uploads/1397022238.csv
lotto_zip_csv_uploads/1401170747.csv
lotto_zip_csv_uploads/1410381618.csv
lotto_zip_csv_uploads/1413449225.csv
lotto_zip_csv_uploads/1415677172.csv
lotto_zip_csv_uploads/1430787067.csv
lotto_zip_csv_uploads/1432267225.csv
lotto_zip_csv_uploads/1436385026.csv
lotto_zip_csv_uploads/1436694572.csv
lotto_zip_csv_uploads/1439281650.csv
lotto_zip_csv_uploads/1458935819.csv
lotto_zip_csv_uploads/1461423958.csv
lotto_zip_csv_uploads/1466190993.csv
lotto_zip_csv_uploads/1468550399.csv
lotto_zip_csv_uploads/1479636594.csv
lotto_zip_csv_uploads/1482810480.csv
lotto_zip_csv_uploads/1504190881.csv
lotto_zip_csv_uploads/1504643008.csv
lotto_zip_csv_uploads/1523467344.csv
lotto_zip_csv_uploads/1563506475.csv
lotto_zip_csv_uploads/1564213445.csv
lotto_zip_csv_uploads/1564438042.csv
lotto_zip_csv_uploads/1572587405.csv
lotto_zip_csv_uploads/1580292339.csv
lotto_zip_csv_uploads/1583878054.csv
lotto_zip_csv_uploads/1593427364.csv
lotto_zip_csv_uploads/1596143102.csv
lotto_zip_csv_uploads/1599705126.csv
lotto_zip_csv_uploads/1638938767.csv
lotto_zip_csv_uploads/1642753996.csv
lotto_zip_csv_uploads/1643190061.csv
lotto_zip_csv_uploads/1647214800.csv
lotto_zip_csv_uploads/1647520137.csv
lotto_zip_csv_uploads/1665953212.csv
lotto_zip_csv_uploads/1687574732.csv
lotto_zip_csv_uploads/1695721818.csv
lotto_zip_csv_uploads/1707866658.csv
lotto_zip_csv_uploads/1709554535.csv
lotto_zip_csv_uploads/1711744429.csv
lotto_zip_csv_uploads/1716846289.csv
lotto_zip_csv_uploads/1728736829.csv
lotto_zip_csv_uploads/1731696903.csv
lotto_zip_csv_uploads/1737494108.csv
lotto_zip_csv_uploads/1741772497.csv
lotto_zip_csv_uploads/1748169846.csv
lotto_zip_csv_uploads/1772747547.csv
lotto_zip_csv_uploads/1774838838.csv
lotto_zip_csv_uploads/1805137733.csv
lotto_zip_csv_uploads/1805286257.csv
lotto_zip_csv_uploads/1809833108.csv
lotto_zip_csv_uploads/1822877928.csv
lotto_zip_csv_uploads/1827990690.csv
lotto_zip_csv_uploads/1838958166.csv
lotto_zip_csv_uploads/1843826703.csv
lotto_zip_csv_uploads/1849134500.csv
lotto_zip_csv_uploads/1868250734.csv
lotto_zip_csv_uploads/1870799739.csv
lotto_zip_csv_uploads/1874819577.csv
lotto_zip_csv_uploads/1892253849.csv
lotto_zip_csv_uploads/1899695983.csv
lotto_zip_csv_uploads/1903011509.csv
lotto_zip_csv_uploads/1904220731.csv
lotto_zip_csv_uploads/1921242889.csv
lotto_zip_csv_uploads/1952191131.csv
lotto_zip_csv_uploads/1953468047.csv
lotto_zip_csv_uploads/1956262426.csv
lotto_zip_csv_uploads/1956364638.csv
lotto_zip_csv_uploads/1980208554.csv
lotto_zip_csv_uploads/1983774365.csv
lotto_zip_csv_uploads/1984988458.csv
lotto_zip_csv_uploads/1988524539.csv
lotto_zip_csv_uploads/1995453977.csv
lotto_zip_csv_uploads/1995904575.csv
lotto_zip_csv_uploads/1996756207.csv
lotto_zip_csv_uploads/2000964742.csv
lotto_zip_csv_uploads/2002664553.csv
lotto_zip_csv_uploads/2012202668.csv
lotto_zip_csv_uploads/2018266555.csv
lotto_zip_csv_uploads/2019327603.csv
lotto_zip_csv_uploads/2029580676.csv
lotto_zip_csv_uploads/2036855800.csv
lotto_zip_csv_uploads/2040619111.csv
lotto_zip_csv_uploads/2041213100.csv
lotto_zip_csv_uploads/2042125016.csv
lotto_zip_csv_uploads/2049570312.csv
lotto_zip_csv_uploads/2067629243.csv
lotto_zip_csv_uploads/2076071757.csv
lotto_zip_csv_uploads/2078874074.csv
lotto_zip_csv_uploads/2080062677.csv
lotto_zip_csv_uploads/2082161451.csv
lotto_zip_csv_uploads/2108766191.csv
lotto_zip_csv_uploads/2120662587.csv
.project
index.php
bootstrap-4.1.3-dist/css/bootstrap-grid.css
bootstrap-4.1.3-dist/css/bootstrap-grid.css.map
bootstrap-4.1.3-dist/css/bootstrap-grid.min.css
bootstrap-4.1.3-dist/css/bootstrap-grid.min.css.map
bootstrap-4.1.3-dist/css/bootstrap-reboot.css
bootstrap-4.1.3-dist/css/bootstrap-reboot.css.map
bootstrap-4.1.3-dist/css/bootstrap-reboot.min.css
bootstrap-4.1.3-dist/css/bootstrap-reboot.min.css.map
bootstrap-4.1.3-dist/css/bootstrap.css
bootstrap-4.1.3-dist/css/bootstrap.css.map
bootstrap-4.1.3-dist/css/bootstrap.min.css
bootstrap-4.1.3-dist/css/bootstrap.min.css.map
bootstrap-4.1.3-dist/js/bootstrap.bundle.js
bootstrap-4.1.3-dist/js/bootstrap.bundle.js.map
bootstrap-4.1.3-dist/js/bootstrap.bundle.min.js
bootstrap-4.1.3-dist/js/bootstrap.bundle.min.js.map
bootstrap-4.1.3-dist/js/bootstrap.js
bootstrap-4.1.3-dist/js/bootstrap.js.map
bootstrap-4.1.3-dist/js/bootstrap.min.js
bootstrap-4.1.3-dist/js/bootstrap.min.js.map
fonts/demo.html
fonts/erbos_draco_1st_nbp.ttf
fonts/erbos_draco_1st_open_nbp.ttf
fonts/Erbos-Draco-1st-Open-NBP.woff
fonts/Erbos-Draco-1st-Open-NBP.woff2
fonts/erbos-draco-1st-open-nbp.zip
fonts/sharefonts.net.txt
fonts/stylesheet.css
fonts/transfonter.org-20191115-013203.zip
images/captcha/1587100392.2252.jpg
images/new images/ball_2.png
images/new images/ball_17.png
images/new images/ball_23.png
images/new images/ball_blank.psd
images/new images/ball_extra.psd
images/new images/ball.png
images/new images/red_ball.png
images/new images/red.psd
images/uploads/lottomax.png
.gitignore
